<header id="main-header">
		
    <div id="logo-header" href="#">
        <span><img src="../../../assets/APlogo.jpg" width="200" height="60" alt="Argentina Programa logo"/></span>
    </div> <!-- / #logo-header -->

    <nav>
        <ul>
            
            <li><a href="https://www.linkedin.com/in/anal%C3%ADa-noem%C3%AD-perez/">LinkedIn <i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/AnaliaPerez" >GitHub <i class="fa fa-github"></i></a></li>
            <li><button class="button" >log in</button></li>
            
        </ul>
    </nav><!-- / nav -->

</header>
